#walrus-showing {
    display: none;
}

#walrus-showing2 {
    display: none;
}

.clickable{
    cursor: pointer;
    color: palevioletred;
}

.clickable:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(102, 228, 228);
}